<div class="d-flex h-100 text-center bg-white main-container">
  <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">

    <!--Navbar-->
    <header class="mb-auto w-100 bg-white cover-container p-3 mx-auto">
      <app-navbar></app-navbar>
    </header>
    <!--Navbar-->
    <main class="px-3 main">
      <router-outlet></router-outlet>
    </main>

    <footer class="mt-auto animate__animated animate__fadeInLeftBig">
      <p>A project Made By Luis Esteban Garza García</p>
    </footer>
  </div>

</div>
