<div *ngIf="f1" id="contentContainer" class="row content d-flex justify-content-center align-items-center" >

  <div class="col-md-2">
   <div class="text-center feature-desc animate__animated animate__fadeInDown">
     Maneja tus archivos desde cualquier parte
   </div>
  </div>

  <div class="col-md-2">
    <img class="feature-img animate__animated animate__bounce" src="./../../../assets/images/1.png" alt="">
  </div>

</div>


<div *ngIf="f2" id="contentContainer" class="row content" >

  <div class="col-md-2">
   <div class="text-center feature-desc animate__animated animate__fadeInDown">
     Puedes ordenarlos por carpeta
   </div>
  </div>

  <div class="col-md-2">
    <img class="feature-img animate__animated animate__bounce" src="./../../../assets/images/2.png" alt="">
  </div>

</div>


<div *ngIf="f3" id="contentContainer" class="row content" >

  <div class="col-md-2">
   <div class="text-center feature-desc animate__animated animate__fadeInDown">
     Descargalos de donde sea
   </div>
  </div>

  <div class="col-md-2">
    <img class="feature-img animate__animated animate__bounce" src="./../../../assets/images/3.png" alt="">
  </div>

</div>
