.folder-card{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2FFE9;
  padding: 5px;
  border: 1px solid #D3DEDC;
  padding: 5px;
  box-shadow: 4px 7px 5px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 7px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 7px 5px -2px rgba(0,0,0,0.75);
}

.folder-card img{
  width: 50px;
  margin-left: 10px;
}

.folder-card:hover{
  transform: scale(1.02);
}

.selected{
  background: #406882;
}
