.file-card{
  width: 150px;
  height: 260px;
  cursor: pointer;
  max-width: 150px;
  max-height: 260px;
  background: var(--background-color);
  color: var(--fore-white);
  padding: 5px;
  /* color: #191919; */
  /* min-width: 150px;
  min-height: 260px; */

  margin-top: 10px;

}

.top-card{
  width: 100%;
  display: flex;
}

.img-card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.file-card i{
  cursor: pointer;
}


.file-card img{
  width: 70px;
}

.file-card:hover{
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

/* MODAL CSS */

.modal-body{
  max-height: 80vh;
  min-height: 40vh;

}
.folders-content{
  height: 100%;
  width: 100%;

}

.folders{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 500px) {
  .file-card{
    font-size: 12px;
    width: 100px;
    height: 200px;
  }

  .file-card img{
    width: 40px;
  }
}
