.main-wrapper{
  height: 100vh;
  padding: 50px;
  display: flex;
  background: var(--fore-white);
  overflow: scroll;
}

.cards-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.cards-container h1{
  color: #191919;
}

.chart-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart{
  padding: 15px;
}


.info-card{
  display: flex;
  flex-direction: column;
  max-height: 150px;
  min-width: 350px;
  align-items: center;
  justify-content: center;
}

.info-card img{
  width: 70px;
  margin-right: 25px;
}

.info-card h3{
  font-size: 28px;
  font-weight: 600;
}

.info-card span{
  font-size: 28px;
  font-weight: 699;
}

.info-card:hover{
  transform: scale(1.02);
  transition: 0.3s all ease-in-out;
}



@media (max-width: 1130px) {
  .main-wrapper{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
