<ngx-spinner  size = "large" type="pacman" >
  <p style="font-size: 28px;">Loading...</p>
</ngx-spinner>


<div *ngIf="user" class="main-wrapper">

  <div class="cards-container">

    <h1>Welcome <strong>{{ user.userName | uppercase}}</strong></h1>

    <div class="info-card rounded shadow-lg p-3 mb-5 bg-body rounded animate__animated animate__slideInUp">
      <span>Total Files</span>

      <div class="info-details">
        <img src="./../../../../assets/icons/archivo.png" alt="">
        <span>{{ totalFiles }}</span>
      </div>
    </div>

    <div class="info-card rounded shadow-lg p-3 mb-5 bg-body rounded animate__animated animate__slideInUp">
      <span>Total Folders</span>

      <div class="info-details">
        <img src="./../../../../assets/icons/carpeta.png" alt="">
        <span>{{ totalFolders }}</span>
      </div>
    </div>

  </div>



  <div *ngIf="totalSize != '0.00 mb' " class="chart-container animate__animated animate__fadeInDown">

    <div class="chart rounded">
      <h1>Total space used: <strong>{{totalSize  }} / 500mb</strong></h1>
    <app-pie-chart [data]="dataToChart" ></app-pie-chart>
    </div>

  </div>
</div>
